body{
  background-image: URL(https://wallpapercave.com/wp/wp6350571.jpg);
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  border-align: left;
  width:5%;
}
h1{
  font-size: 20;
}
h3{
  font-size: 15;
}
ol{
  font-size: 10;
}
ul{
font-size: 10;
}
